html{
    font-size: 62.5%;
}

*,
* ::before,
* ::after {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    grid-template-areas: 
    "header"
    "section1"
    "section2"
    "footer";
}