header {
    margin-top: 10px;
    background-color: $principal;
    grid-area: header;

    .navbar {
        min-height: 15vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .logo {
        flex-basis: 30%;

        img {
            height: 70px;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
    }
       
    .menu {
        flex-basis: 20%;
        justify-content: space-between;
        list-style: none;

        opciones a {
            color: $secondary;
            font-size: 1.8em;
            padding: 1rem;

            &:hover {
                border-color: $third;
                transition: 0.5s ease-in-out;
            }
        }

    }

    opciones {
        border: 2px solid $principal;
    }

}