header {
    margin-top: 10px;
    background-color: $principal;
    grid-area: header;

    .navbar {
        @include flex(row, space-between, center, 2rem);
        min-height: 15vh;
        padding: 0 2rem;
    }

    .logo {
        flex-basis: 30%;

        img {
            height: 70px;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
    }


    .menu {
        flex-basis: 20%;
        @include flex(row, space-between, center, 2rem);
        list-style: none;
        position: relative;


        .opciones a {
            color: $secondary;
            font-size: 1.8em;
            padding: 1rem;

        }

    }

    .opciones {
        border: 2px solid $principal;

        &:hover {
            border-color: $third;
            transition: 0.5s ease-in-out;
        }
    }

    .checkbtn, #check {
        display: none;
    }

}