node_modules
proyecto_final/wireframe_rocio_solari.pdf
clase_02/index.html
.gitignore

falta
arreglar primera seccion del home (bares, comida) background entero y ver de poder poner foto de costado
achicar fotos en bares cultura y comida
ver pagina de disfruta, tema fotos
