.bar {
    width: 100%;
    border-radius: 10px;
    justify-content: left;
    margin: 0.5rem;
}

.bar2 {
    @extend .bar;
    justify-content: end;
}

.bares-div {
@include flex();
margin-top: 10px;
}

div.col-lg-6 {
    padding: map-get($paddings, m);
}

.titles {
    background-color: $principal;
}

.right-div{
    @include flex($direction: row-reverse);
}
