.bar {
    width: 100%;
    border-radius: 10px;
    justify-content: left;
    margin: 0.5rem;
}

.bar2 {
    @extend .bar;
    justify-content: right;
}

.bares-div {
@include flex();
margin-top: 10px;
}

div.bares-div div.col-lg-9 {
    padding: map-get($paddings, m);
}

.titles {
    background-color: $principal;
    margin-top: 70px;
}

.right-div{
    @include flex($direction: row-reverse);
}
