.section {
    @include flex(row, center, center, 2rem);
    padding: map-get($paddings, special-padding);
    grid-area: section1;
}

.article {
    text-align: center;
}

picture {
    padding: map-get($paddings, m);
}

section {
    div {
        h2 {
            margin: 1rem 1rem 1rem;
            text-align: center;
            font-size: 2.5rem;
        }
    }

}

.section2 {
    div {
        h2 {
            @include flex($justify: center, $align: center);
            background-color: $principal;
            margin: 1rem 1rem 1rem;
        }
    }
}

section {
    div.container {
        @include flex(row, space-between, center, 0);
    }
}

section {
    div {
        h3 {
            @include flex(row, center, center, 0);
            margin: 2rem 6rem 2rem;
            background-color: $principal;
        }
    }
}

.a {
    color: $secondary;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    padding: map-get($paddings, xs);

    &:hover {
        color: $third;
    }
}

.bares {
    padding: map-get($paddings, section-padding);
    text-align: center;
    
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.cultura {
    padding: map-get($paddings, section-padding);
    text-align: center;
    
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.comida {
    padding: map-get($paddings, section-padding);
    text-align: center;
    
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.div {
    margin-top: 10px;
}

.imagen {
    width: 100%;
    border-radius: 10px;
}

.ul {
    text-align: center;
    display: inline-block;
    margin-top: 125px;
    list-style: none;
    background-color: $principal;
    width: 90%;
    margin-left: 55px;
}