@media screen and (max-width: 768px) {

    .menu {
        font-size: .8em;
    }

    .a {
        font-size: 1.6rem;
    }

    .menu_icon {
        display: flex;
        justify-content: right;
        width: 30px;
        height: 30px;
    }

    header .menu {
        display: none;
    }

    header .navbar {
        min-height: 10vh;
        gap: 0rem;
    }

    header .logo {
        flex-basis: 20%;
    }

    header .logo img {
        height: 50px;
    }

    #check:checked ~ ul{
        display: block;
        left: 0;

    }
    
    header .checkbtn {
        display: block;
    }

    ul.menu{
        background-color: #B2ECE1;
        position: fixed;
        top: 90px;
        height: 18vh;
        right: 0px;
        z-index: 10;
    }

    li.opciones{
        background-color: $principal;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }


    .section {
        flex-direction: column;
    }

    .article {
        margin-top: 2rem;
    }

    .section picture .imagen {
        height: auto;
        align-items: center;
        margin-top: -2rem;
    }

    section div {
        flex-direction: column;
    }

    section div h3 {
        margin: 1rem 7rem 1rem;
    }

    .section2 div h2 {
        display: flex;
        flex-direction: column;
    }

    section div.container {
        display: flex;
        flex-direction: column;
    }

    main section.row {
        margin: 2rem 0;
    }

    .bares {
        padding: map-get($paddings, section-padding);
        text-align: center;
    }

    .cultura {
        padding: map-get($paddings, section-padding);
        text-align: center;
    }

    .comida {
        padding: map-get($paddings, section-padding);
        text-align: center;
    }

    section div .bares img {
        display: flex;
        flex-direction: column;
    }

    section div .cultura img {
        display: flex;
        flex-direction: column;
    }

    section div .comida img {
        display: flex;
        flex-direction: column;
    }

    .bares-div {
        display: flex;
        flex-direction: column;

        p {
            margin-top: 4px;
        }
    }

    .right-div {
        display: flex;
        flex-direction: column;

        p {
            margin-top: 4px;
        }
    }

}