@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
.padding-xs {
  padding: 0.5rem; }

.padding-s {
  padding: 1rem; }

.padding-m {
  padding: 1.5rem; }

.padding-l {
  padding: 2rem; }

.padding-xl {
  padding: 2.5rem; }

.padding-special-padding {
  padding: 0 2rem; }

.padding-section-padding {
  padding: 1rem 2rem 1rem; }

html {
  font-size: 62.5%; }

*,
* ::before,
* ::after {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  grid-template-areas: "header" "section1" "section2" "footer"; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.footer {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 15vh;
  background-color: #B2ECE1;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; }
  .footer img {
    border-radius: 10px;
    height: 30px; }

header {
  margin-top: 10px;
  background-color: #B2ECE1;
  grid-area: header; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    min-height: 15vh;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }
    header .logo img {
      height: 70px; }
  header a {
    text-decoration: none;
    display: inline-block; }
  header .menu {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    position: relative; }
    header .menu .opciones a {
      color: #000000;
      font-size: 1.8em;
      padding: 1rem; }
  header .opciones {
    border: 2px solid #B2ECE1; }
    header .opciones:hover {
      border-color: #ffffff;
      transition: 0.5s ease-in-out; }
  header .checkbtn, header #check {
    display: none; }

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  grid-area: section1; }

.article {
  text-align: center; }

picture {
  padding: 1.5rem; }

section div h2 {
  margin: 1rem 1rem 1rem;
  text-align: center;
  font-size: 2.5rem; }

.section2 div h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #B2ECE1;
  margin: 1rem 1rem 1rem; }

section div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0; }

section div h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 2rem 6rem 2rem;
  background-color: #B2ECE1; }

.a {
  color: #000000;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  padding: 0.5rem; }
  .a:hover {
    color: #ffffff; }

.bares {
  padding: 1rem 2rem 1rem;
  text-align: center; }
  .bares img {
    border-radius: 10px;
    width: 100%; }

.cultura {
  padding: 1rem 2rem 1rem;
  text-align: center; }
  .cultura img {
    border-radius: 10px;
    width: 100%; }

.comida {
  padding: 1rem 2rem 1rem;
  text-align: center; }
  .comida img {
    border-radius: 10px;
    width: 100%; }

.div {
  margin-top: 10px; }

.imagen {
  width: 100%;
  border-radius: 10px; }

.ul {
  text-align: center;
  display: inline-block;
  margin-top: 125px;
  list-style: none;
  background-color: #B2ECE1;
  width: 90%;
  margin-left: 55px; }

.bar, .bar2 {
  width: 100%;
  border-radius: 10px;
  justify-content: left;
  margin: 0.5rem; }

.bar2 {
  justify-content: right; }

.bares-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  margin-top: 10px; }

div.bares-div div.col-lg-9 {
  padding: 1.5rem; }

.titles {
  background-color: #B2ECE1;
  margin-top: 70px; }

.right-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; }

.barrios {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(15, 1fr); }
  .barrios .barrio {
    grid-column: 11 / 14;
    grid-row: 1;
    text-align: center;
    padding: 1rem; }

.disfruta_barrios {
  width: 100%;
  border-radius: 5px;
  margin: 0.5rem;
  transition: opacity 0.5s ease-in-out; }
  .disfruta_barrios:hover {
    opacity: 25%; }

.almagro, .balvanera, .barracas, .belgrano, .boedo, .caballito, .chacarita, .flores, .floresta, .la_boca, .paternal, .liniers, .nuñez, .palermo, .recoleta, .saavedra, .villa_devoto, .versalles {
  color: black;
  position: absolute;
  top: 48%;
  left: 12.5%;
  display: none; }

.balvanera {
  left: 24.5%; }

.barracas {
  left: 38%; }

.belgrano {
  left: 51.2%; }

.boedo {
  left: 66.5%; }

.caballito {
  left: 77.5%; }

.chacarita, .flores, .floresta, .la_boca, .paternal, .liniers {
  top: 82%;
  left: 11.7%; }

.flores {
  left: 26.5%; }

.floresta {
  left: 38.5%; }

.la_boca {
  left: 52.5%; }

.paternal {
  left: 65%; }

.liniers {
  left: 79.5%; }

.nuñez, .palermo, .recoleta, .saavedra, .villa_devoto, .versalles {
  top: 115%;
  left: 13.7%; }

.palermo {
  left: 25.5%; }

.recoleta {
  left: 38%; }

.saavedra {
  left: 51.5%; }

.villa_devoto {
  left: 64.5%; }

.versalles {
  left: 77.5%; }

.barrio_s:hover .almagro, .barrio_s:hover .balvanera, .barrio_s:hover .barracas, .barrio_s:hover .belgrano, .barrio_s:hover .boedo, .barrio_s:hover .caballito, .barrio_s:hover .chacarita, .barrio_s:hover .flores, .barrio_s:hover .floresta, .barrio_s:hover .la_boca, .barrio_s:hover .paternal, .barrio_s:hover .liniers, .barrio_s:hover .nuñez, .barrio_s:hover .palermo, .barrio_s:hover .recoleta, .barrio_s:hover .saavedra, .barrio_s:hover .villa_devoto, .barrio_s:hover .versalles,
.barrio_s:hover .balvanera,
.barrio_s:hover .barracas,
.barrio_s:hover .barrio,
.barrio_s:hover .belgrano,
.barrio_s:hover .boedo,
.barrio_s:hover .caballito,
.barrio_s:hover .chacarita,
.barrio_s:hover .flores,
.barrio_s:hover .floresta,
.barrio_s:hover .la_boca,
.barrio_s:hover .paternal,
.barrio_s:hover .liniers,
.barrio_s:hover .flores,
.barrio_s:hover .floresta,
.barrio_s:hover .la_boca,
.barrio_s:hover .paternal,
.barrio_s:hover .liniers,
.barrio_s:hover .nuñez,
.barrio_s:hover .palermo,
.barrio_s:hover .recoleta,
.barrio_s:hover .saavedra,
.barrio_s:hover .villa_devoto,
.barrio_s:hover .versalles,
.barrio_s:hover .palermo,
.barrio_s:hover .recoleta,
.barrio_s:hover .saavedra,
.barrio_s:hover .versalles,
.barrio_s:hover .villa_devoto {
  display: block; }

.comidas {
  transition: 0.5s ease-in-out;
  padding: 0.5rem; }
  .comidas:hover {
    color: #ffffff; }

.form {
  height: 100vh; }

main section.row {
  margin: 6rem 0; }

@media screen and (max-width: 768px) {
  .menu {
    font-size: .8em; }
  .a {
    font-size: 1.6rem; }
  .menu_icon {
    display: flex;
    justify-content: right;
    width: 30px;
    height: 30px; }
  header .menu {
    display: none; }
  header .navbar {
    min-height: 10vh;
    gap: 0rem; }
  header .logo {
    flex-basis: 20%; }
  header .logo img {
    height: 50px; }
  #check:checked ~ ul {
    display: block;
    left: 0; }
  header .checkbtn {
    display: block; }
  ul.menu {
    background-color: #B2ECE1;
    position: fixed;
    top: 90px;
    right: 0px;
    z-index: 10; }
  li.opciones {
    background-color: #B2ECE1;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 0; }
  .section {
    flex-direction: column; }
  .article {
    margin-top: 2rem; }
  .section picture .imagen {
    height: auto;
    align-items: center;
    margin-top: -2rem; }
  section div {
    flex-direction: column; }
  section div h3 {
    margin: 1rem 7rem 1rem; }
  .section2 div h2 {
    display: flex;
    flex-direction: column; }
  section div.container {
    display: flex;
    flex-direction: column; }
  main section.row {
    margin: 2rem 0; }
  .bares {
    padding: 1rem 2rem 1rem;
    text-align: center; }
  .cultura {
    padding: 1rem 2rem 1rem;
    text-align: center; }
  .comida {
    padding: 1rem 2rem 1rem;
    text-align: center; }
  section div .bares img {
    display: flex;
    flex-direction: column; }
  section div .cultura img {
    display: flex;
    flex-direction: column; }
  section div .comida img {
    display: flex;
    flex-direction: column; }
  .bares-div {
    display: flex;
    flex-direction: column; }
    .bares-div p {
      margin-top: 4px; }
  .right-div {
    display: flex;
    flex-direction: column; }
    .right-div p {
      margin-top: 4px; } }
